* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #F9F7F3;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}

#changeLanguageButton {
  /* position: fixed;
  bottom: 0; */
  padding: 5px 10px;
  border: #7266AE 1px solid;
  border-radius: 25px;
  background-color: #7266AE;
  color: #F9F7F3;
  /* margin: 10px; */
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-ul li {
  float: right;
  margin-right: 30px;
}

.nav-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navbar {
  height: 80px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.511);
  transition: background-color 0.3s ease;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
}

#head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("MSF.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.8);
}

#head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

header #head h1,
#head p,
#head button {
  z-index: 10;
  width: 80%;
  margin-left: 80px;
}

#head h1 {
  font-size: 75px;
  margin-top: 100px;
}

#head p {
  font-style: italic;
  font-size: 25px;
  margin-top: 30px;
}

#head button {
  width: 400px;
  margin-top: 30px;
  padding: 15px;
  border: none;
  background-color: #7266AE;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 {
  display: flex;
  background-color: #F8EBD8;
  align-items: center;
  overflow: hidden;
  margin: 50px;
  height: calc(100vh - 100px);
}

#section1 img {
  background-color: transparent;
  object-fit: cover;
  height: 100%;
  max-width: 50%;
  margin-right: 20px;
}

.section1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
}

#section1 h2 {
  text-align: left;
  font-size: 50px;
  color: #7266AE;
}

#section1 p {
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
}

#section1 button {
  width: 80%;
  margin-top: 30px;
  padding: 15px;
  border: none;
  background-color: #7266AE;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

#section2 {
  text-align: center;
  justify-content: start;
  text-align: left;
  margin-top: 100px;
  padding: 50px 0;
}

#section2 h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.projects img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 15px;
  border-radius: 10px;
}

.projects p {
  height: 130px;
  width: 400px;
  margin-top: 15px;
  font-size: 25px;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

#section3 {
  padding: 0 50px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#section3 h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

#section3>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 40px;
}

#section3 div h3 {
  margin-bottom: 30px;
}

#section3 div p {
  margin-bottom: 15px;
}

#section3 div button {
  padding: 0;
  border: none;
  color: black;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  text-align: left;
}

.suivi {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 50px;
}

.suivi>div {
  position: relative;
  width: 20%;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suivi>div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15%;
  height: 90%;
  width: 2px;
  background-color: #7266AE;
}

#section4 {
  overflow: visible;
  display: flex;
  background-color: #7266AE;
  height: 800px;
  width: 100%;
}



.section4-texte {
  margin-left: 80px;
  margin-top: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: white;
  padding-top: 0;
}

.section4:first-child {
  align-items: center;
}

.section4:last-child {
  align-items: end;
  overflow: visible;
}

#section4 h2 {
  color: #F8EBD8;
  text-align: left;
  font-size: 50px;
  margin: 0;
}

#section4 h3 {
  font-style: italic;
  margin: 10px 0;
}

#section4 p {
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.blockchain {
  box-sizing: content-box;
  overflow: visible;
  height: 120%;
  width: 60%;
  align-self: end;
}

footer {
  height: 300px;
  background-image: url('./images/newsletter.png');
  background-size: cover;
  background-position: right;
}

.custom-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  padding: 20px;
}

.left-part {
  max-width: 100%;
  width: 100%;
}

.left-part h3 {
  color: #7266AE;
  font-weight: 700;
  font-size: 35px;
  margin-top: 50px;
  text-align: center;
}

.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-inline input {
  width: 400px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

.form-inline button {
  width: 200px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 15px;
  border: none;
  background-color: #7266AE;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

/* VERSION TABLETTE */
@media (max-width: 1300px) {

  #section1 h2,
  #section2 h2,
  #section3 h2,
  #section4 h2 {
    font-size: 35px
  }

  .section1-text {
    margin: 0 50px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }

  .projects img {
    object-fit: cover;
    margin: 15px;
    border-radius: 10px;
  }

  .projects p {
    font-size: 0.75rem;
    height: auto;
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .suivi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  .suivi>div {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .suivi>div:not(:last-child)::after {
    display: none;
  }

  #section3 div h3 {
    color: #7266AE;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .left-part h3 {
    margin-top: 50px;
  }


  .section4-texte {
    margin-left: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
  }

  .blockchain {
    height: 100%;
  }
}

@media (max-width: 1100px) {
  .blockchain {
    height: 60%;
    align-self: center;
  }

}

@media (max-width: 1600px) {
  .section4-texte {
    margin-left: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
  }
}

/* VERSION MOBILE */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  #head {
    text-align: center;
  }

  #head h1 {
    font-size: 50px !important;
    margin-top: 50px;
  }

  #head p {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
  }

  #head button {
    width: 300px;
    margin: 40px auto;
  }

  #section1 {
    display: flex;
    flex-direction: column;
    background-color: #F8EBD8;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: auto;
  }

  #section1 img {
    background-color: transparent;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    margin: 20px;
    margin-top: 0;
  }

  .section1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  #section1 h2 {
    text-align: center;
    font-size: 30px;
    color: #7266AE;
  }

  #section1 p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
  }

  #section1 button {
    width: 200px;
    margin-top: 20px;
  }

  #section2 {
    text-align: center;
    margin-top: 100px;
    padding: 50px 0;
  }

  #section2 h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }


  #section3 {
    padding: 0 20px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  #section3 h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  #section3>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: 20px;
  }



  #section3 div p {
    margin-bottom: 10px;
    font-size: 18px;
  }

  #section3 div button {
    padding: 0;
    border: none;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
  }

  #section4 {
    display: flex;
    flex-direction: column;
    background-color: #7266AE;
    align-items: center;
    overflow: hidden;
    height: auto;
  }

  .section4-texte {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
  }

  #section4 h2 {
    color: #F8EBD8;
    text-align: center;
    font-size: 30px;
    margin: 0;
  }

  #section4 h3 {
    font-style: italic;
    margin: 20px 0;
  }

  #section4 p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .blockchain {
    display: none;
  }

  footer {
    height: 300px;
    background-image: url('./images/newsletter.png');
    background-size: cover;
    background-position: right;
  }

  .custom-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
  }

  .left-part {
    max-width: 100%;
    width: 100%;
  }

  .left-part h3 {
    color: #7266AE;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-inline input {
    width: 400px;
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
  }

  .form-inline button {
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
    padding: 15px;
    border: none;
    background-color: #7266AE;
    color: white;
    border-radius: 25px;
    cursor: pointer;
  }
}